<div id="home_chat">
  <h2>Chat room</h2>
  <div id="chat_body">
    <div id="messages">
    </div>
    <form id="send_message">
      <input type="text" id="message" name="message">
      <button>Send</button>
    </form>
  </div>
  <div id="modal">
    <div>
      <h4>Add a name</h4>
      <form id="set_name">
        <input type="text" id="add_name" name="add_name">
        <button>Submit</button>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){    
     //reload lai page khi vao moi hien thi popup dien ten chat
      //Check if the current URL contains '#'
      if(document.URL.indexOf("#")==-1){
          // Set the URL to whatever it was plus "#".
          url = document.URL+"#";
          location = "#";
          //Reload the page
          location.reload(true);
      }
  });
</script>